# Build Files
bin/
build/*
build-debug/

# Darknet files
*.weights
*.cfg
tmp/

# Build intermediaries
*.o
*.d
*.cbp

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# macOS files
.DS_Store

# CLion
cmake-build-debug
.idea/
